.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__input {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  width: 100%;
}

.form__input label {
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.form__input input {
  width: 100%;
  padding: 3px 6px;
}

@media (min-width: 768px) {
  .form {
    align-items: start;
  }
}
